:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
 

  line-height: 1.5;
  font-weight: 401;
  
  color: #ffffff; /* You need to set a solid color for text */
  background: linear-gradient(90deg, #cf90f3, #a851ea, #cf90f3,  #a851ea); /* Correct syntax for gradient background */
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#core-concepts {
  padding: 2rem;
  border-radius: 6px;
  color: white;
  background-color: " linear-gradient(90deg, #cf90f3, #a851ea, #cf90f3,  #a851ea)";
 

}


main h2 {
  text-align: center;
  font-family: "Dosis", sans-serif;
  margin: 0 0 1.5rem 0;
  color: #140524;
}
#core-concepts ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  
}

#core-concepts li {
  width: 20rem;
  height: 20rem;
  text-align: center;
  border-radius: 1rem; 
  background-color: #140524;
  border-color: white;
  border-width: 2px; 
  border-style: solid;
  display: flex; 
  align-items: center;
  justify-content: center; 
  transition: background-color 0.3s,transfrom 0.3s;

}
#core-concepts li:hover {
  transform: scale(1.05); /* Slightly enlarge the element on hover */
  cursor: pointer; /* Change cursor to pointer */
  background-color:  #a851ea;
  
}

#core-concepts li img {
  height: 8rem;
  width: 10rem;
  
}

#core-concepts li h3 {
  margin: 0.5rem 0;
}

#heading{
  color:"#000000";
  text-align: center;
}